# Unreal / VS build artifacts
Binaries/
Intermediate/
Saved/
DerivedDataCache/
*.VC.db
*.opensdf
*.sdf
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
*.xcodeproj
*.xcworkspace

# OS
Thumbs.db
Desktop.ini
.DS_Store
